<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="NumeroDrones" value="20" />
        <add key="NumeroCuadrasMaximo" value="10" />
        <add key="NumeroAlmuerzosMaximo" value="3" />
        <add key="PosicionInicialX" value="0" />
        <add key="PosicionInicialX" value="0" />
        <add key="PuntoCardinalInicial" value="NORTE" />
    </appSettings>
</configuration>
